/* All css styles goes here */
.montly_premium_button {
    text-align: center;
}
.input-dollar {
    position: relative;
    font-size: 30px;
}
.input-dollar.left input {
    padding-left:18px;
}
.input-dollar:before {
    position: absolute;
    top: -5px;
    content:"$";
}
.input-dollar.left:before {
    left: 82px;
}
